/Tools/ArchiXML2ArchiVoc/Input/*
!/Tools/ArchiXML2ArchiVoc/Input/.gitkeep

/Tools/ArchiXML2ArchiVoc/Output/*
!/Tools/ArchiXML2ArchiVoc/Output/.gitkeep

/Tools/Archimate2ArchiXML/Input/*
!/Tools/Archimate2ArchiXML/Input/.gitkeep

/Tools/Archimate2ArchiXML/Output/*
!/Tools/Archimate2ArchiXML/Output/.gitkeep

/Tools/ArchiVoc2ArchiXML/Input/*
!/Tools/ArchiVoc2ArchiXML/Input/.gitkeep

/Tools/ArchiVoc2ArchiXML/Output/*
!/Tools/ArchiVoc2ArchiXML/Output/.gitkeep

/Tools/ArchiXML2Archimate/Input/*
!/Tools/ArchiXML2Archimate/Input/.gitkeep

/Tools/ArchiXML2Archimate/Output/*
!/Tools/ArchiXML2Archimate/Output/.gitkeep
