/Tools/ArchiXML2ArchiVoc/Input/
/Tools/ArchiXML2ArchiVoc/Output/
/Tools/Archimate2ArchiXML/Input/
/Tools/Archimate2ArchiXML/Output/
/Tools/ArchiVoc2ArchiXML/Input/
/Tools/ArchiVoc2ArchiXML/Output/
/Tools/ArchiXML2Archimate/Input/
/Tools/ArchiXML2Archimate/Output/
